---
---

@import "{{ site.theme }}";

$mycolor: black;
    $headingcolor: black;

header {

    background: $mycolor;

}

header a.button {

    background: $mycolor

}

aside a.button {

    background: $mycolor

}

#main-content h2:before {

    color: $mycolor;

}

#main-content h1:before {

    color: $mycolor;

}

#main-content h3 {

    color: $mycolor;

  }

  #main-content h4 {

    color: $mycolor;

  }

  #main-content h6 {

    color: $mycolor;

  }
