#content-wrapper {
  display: flex;
}

#main-content {
  flex: 1; /* Takes the remaining space */
  padding: 20px;
  color: white; /* Set text color to white for main content */
}

#sidebar {
  width: 250px; /* Adjust width as necessary */
  padding: 20px;
  background-color: #000000; /* Background color for sidebar */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: white; /* Set text color to white for sidebar */
}

.button {
  display: block; /* Make links appear as buttons */
  padding: 10px;
  margin: 5px 0;
  background-color: #000000; /* Button color */
  color: white; /* Text color for buttons */
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #001DFF; /* Darker on hover */
}

@media (max-width: 768px) {
  #content-wrapper {
    flex-direction: column; /* Stack content on top of each other */
  }

  #sidebar {
    width: 100%; /* Full width on small screens */
    box-shadow: none; /* Optional: Remove shadow */
  }
}

$mycolor: black;

    $headingcolor: black;

header {

    background: $mycolor;

}

header a.button {

    background: $mycolor

}

aside a.button {

    background: $mycolor

}

#main-content h2:before {

    color: $mycolor;

}

#main-content h1:before {

    color: $mycolor;

}

#main-content h3 {

    color: $mycolor;

  }

  #main-content h4 {

    color: $mycolor;

  }

  #main-content h6 {

    color: $mycolor;

 }
